{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block content %}

<h2>Search!</h2>
<form method="get" action="{% url 'posts:search' %}">
    <div class="search-box border px-5 w-full py-3 rounded-sm shadow-md hover:shadow-lg">
        <i class="fas fa-search"></i>
        <input value="{{title}}" name="title" placeholder="Search By Title" />
    </div>
    {{form.as_p}}
    <button>Search</button>
</form>

<h3>Results</h3>

{% include "mixins/post_all.html" with posts=posts page_obj=posts %}

{% endblock content %}