@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
  input{
    @apply ml-1 w-64 font-medium placeholder-gray-500 focus:outline-none;
  }
}

.nav_link {
  @apply ml-6 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-10 px-5;
  }
  &:hover {
    @apply border-gray-600;
  }
}

.page_outline_link {
  @apply mr-1 bg-post border border-pg_bd rounded-sm tracking-wide px-2 py-1 text-pg_text text-justify text-sm font-medium;
  &:hover{
    @apply border-pg_bg_hov bg-pg_bg_hov text-pg_text_hov;
  }
}

.page_link {
  @apply mr-1 bg-pg_bg_hov border border-pg_bg_hov rounded-sm tracking-wide px-2 py-1 text-pg_text_hov text-justify text-sm font-medium;
}

.btn {
  @apply text-center rounded-lg h-12 py-2 font-light text-lg w-full;
}

.login-btn {
  background-size: 200% 200%;
  background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
}

#id_email,
#id_password,
#id_password1,
#id_old_password,
#id_new_password1,
#id_new_password2,
#id_first_name,
#id_last_name,
#id_birthdate,
#id_gender,
#id_avatar,
#id_name,
#id_review,
#id_conversation,
textarea,
select {
  @apply bg-post rounded-lg p-2 font-light text-lg w-full text-left border border-gray-400 focus:outline-none focus:border-indigo-900;
}

#id_description{
  @apply h-64
}

textarea {
  resize: none;
  height: 100px;
}

select {
  height: 50px;
}

form {
  .input {
    @apply mb-3 w-full;
    &.has_error {
      input {
        @apply bg-red-300 border-gray-600 focus:border-gray-600;;
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.45);
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.45);
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  animation: messageFadeIn 4s ease-in-out forwards;
  // &.error {
  //   @apply bg-red-600;
  // }
  // &.info {
  //   @apply bg-blue-500;
  // }
  // &.success {
  //   @apply bg-green-500;
  // }
  // &.warning {
  //   @apply bg-yellow-400;
  // }
}

.border-section {
  @apply border-b border-border pb-5 mb-5;
}

// .cal-grid {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
//   grid-gap: 10px;
//   justify-items: center;
// }

// .cal-number {
//   @apply w-full text-center rounded p-1 cursor-pointer;
// }

@tailwind utilities;