{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %}| Deu Bighug</title>
</head>

<body class="text-gray-800 mt-24 font-light">
    <header class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-white">
        <div class="flex items-center w-1/3">
        <a class="mr-6" href="{% url 'core:home' %}">
            <img class="w-16" src="{% static 'img/bighug_logo.png' %}" />
        </a>
        {% block search-bar %}
            <form method="get" action="{% url 'posts:search' %}">
                <input name="title" placeholder="Search By Title" />
            </form>
        {% endblock search-bar %}
        </div>
        {% include "partials/nav.html" %}
    </header>
    {% block content %} {% endblock content %}

    {% include "partials/footer.html" %}
</body>

</html>