<form method="POST" class="w-full" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <span class="text-red-500 font-medium text-sm">{{error}}</span>
        {% endfor %}
        {% endif %}
    </div>

    {% for field in form %}
    {% include 'mixins/post/post_input.html' with field=field%}
    {% endfor %}

    <button class="btn login-btn text-white">{{cta}}</button>
</form>